/build/
/install/
/vcpkg_installed/
/.vs/
**/.cache/
**/CMakeFiles/
**/CMakeCache.txt
**/*.user
**/*.suo
**/*.VC.db
/manifests/occt/vcpkg_installed/
/manifests/ogre/vcpkg_installed/
/manifests/osg/vcpkg_installed/
/manifests/skylark/vcpkg_installed/
/manifests/vtk/vcpkg_installed/